*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-background-color);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

#game-board {
  display: grid;
  gap: var(--cell-gap);
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  overflow: auto;
  padding: var(--cell-gap);
  background-color: var(--game-board-background-color);
  border-radius: var(--cell-gap);
}

.cell {
  background-color: var(--cell-background-color);
  border-radius: var(--cell-gap);
}

.tile {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
  border-radius: var(--cell-gap);
  transform:
    translate(
      calc(var(--y) * (var(--cell-size) + var(--cell-gap))),
      calc(var(--x) * (var(--cell-size) + var(--cell-gap)))
    );
  animation-name: show;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  transition: all 150ms ease-in-out;
  z-index: 2;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: 
      translate(
        calc(var(--y) * (var(--cell-size) + var(--cell-gap))),
        calc(var(--x) * (var(--cell-size) + var(--cell-gap)))
      )
      scale(0);
  }
}
